<div class='container'>

    <div class='row'>
        <h1 class='col s12'>Eat Da Burger!</h1>
    </div>

    <div class='row'>
        <div class='col s4'>
            <h3>Chopping Block:</h3>
            <ul>
                {{#each burgers}}
                    {{#unless devoured}}
                        {{> burgers/burger-block devoured=false}}
                    {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class='col s4'>
            <form class='add-burger'>
                <h3>Add a Burger!</h3>
                <div class='form-group'>
                    <label for='burger-name'>Burger Name</label>
                    <input type='text' id='burger-name' name='name'>
                </div>
                <button type='submit'>Add Burger</button>
            </form>
        </div>

        <div class='col s4'>
            <h3>Conquered:</h3>
            <ul>
                {{#each burgers}}
                    {{#if devoured}}
                        {{> burgers/burger-block devoured=true}}
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script> 
<script src='/assets/js/burgers.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>