<li>
    <span>
        <button class='change-devoured btn waves-effect waves-light conbtn' data-id='{{id}}' data-newdevoured='{{devoured}}'>
            {{#unless devoured}}Consume!{{/unless}}
        </button>
        {{burger_name}}
    </span>
</li>